@font-face {
    font-family: TrajanProRegular;
    src: url(../fonts/TrajanPro-Regular.ttf);
}
@font-face {
    font-family: LMRomanCaps10-Regular;
    src: url(../fonts/lmromancaps10-regular.otf);
}
@font-face {
    font-family: LMRoman10Regular;
    src: url(../fonts/LMRoman10Regular.otf);
}
@font-face {
    font-family: lm_roman_demi_10regular;
    src: url(../fonts/lmromandemi10-regular.otf);
}