.content-sort {
  margin: 11px 0 0 0;
  clear: left;
}
.content-sort .sort-bar {
  background: #f1eee7;
  padding: 7px;
  font: normal 11px Arial, Verdana, sans-serif;
  color: #666;
}
.content-sort .sort-bar form {
  display: inline-block;
}
.content-sort .sort-bar .button.bt_compare {
  padding: 7px;
  border-radius: 0;
  line-height: 16px;
  margin-right: 20px;
  background: #ccc;
  -webkit-appearance: none;
  font-family: "LMRomanCaps10-Regular";
}
.content-sort .sort-bar #productsSortForm {
  float: left;
}
.content-sort .sort-bar #productsSortForm label {
  float: left;
  font: normal 13px Georgia;
  line-height: 26px;
  vertical-align: top;
  text-transform: uppercase;
  padding-right: 5px;
  padding-top: 5px;
}
.content-sort .sort-bar #productsSortForm .selector {
  float: left;
}
.content-sort .sort-bar #productsSortForm select {
  border-radius: 0;
  width: 150px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.content-sort .sort-bar .views-float {
  display: inline;
  float: left;
}
.content-sort .sort-bar .compare-form {
  float: left;
}
.content-sort .sort-bar .total-compare-val {
  font-weight: normal;
}
.content-sort .sort-bar .views {
  padding: 9px;
}
.content-sort .sort-bar .dib {
  display: inline-block;
  vertical-align: top;
}
.content-sort .sort-bar #view_grid,
.content-sort .sort-bar #view_list {
  opacity: 0.5;
}
.content-sort .sort-bar #view_grid {
  background: url(../images/icon/grid-list.gif) no-repeat 0 0;
}
.content-sort .sort-bar #view_list {
  background: url(../images/icon/grid-list.gif) no-repeat 0 -16px;
}
.content-sort .sort-bar .view_btn {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
}
.content-sort .sort-bar .views span {
  font: normal 14px/17px Georgia;
  padding-left: 10px;
}
.content-sort .sort-bar .grid_title {
  padding-right: 10px;
}
.content-sort .sort-bar #view_grid:hover,
.content-sort .sort-bar #view_list:hover,
.content-sort .sort-bar #view_grid.active,
.content-sort .sort-bar #view_list.active {
  opacity: 1;
}
.content-sort .button:hover {
  color: white;
}
.content-sort .button:hover.bt_compare {
  background-color: #e17365;
}
@media (max-width: 767px) {
  .sort-bar {
    background-color: inherit !important;
  }
  .sort-bar .views-float {
    display: inline;
    float: none;
    margin-bottom: 10px;
  }
  .sort-bar .views-float .compare-form {
    margin-bottom: 10px;
    margin-right: 150px;
  }
  .sort-bar .views {
    display: none !important;
  }
}
@media (max-width: 979px) {
  .view_grid .product_list > li {
    margin-right: 26px;
  }
  .grid_title,
  .list_title {
    display: none;
  }
}
