.page-sort-footer {
  padding: 5px;
  float: right;
}
.page-sort-footer .item-per-page {
  display: inline-block;
}
.page-sort-footer .item-per-page label {
  font-family: lm_roman_demi_10regular;
  text-transform: uppercase;
  font-size: 13px;
  color: #999999;
  float: right;
  padding-top: 2px;
}
.page-sort-footer .item-per-page .selector {
  float: right;
  margin-left: 10px;
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.page-sort-footer .item-per-page .selector select {
  padding: 3px;
}
.page-sort-footer .pagination-container {
  margin: 0;
  display: inline-block;
  padding-left: 20px;
  float: right;
}
.page-sort-footer .pagination-container .show-all {
  float: left;
}
.page-sort-footer .pagination-container .show-all .button {
  border-radius: 0;
  background: #7a7975;
  color: white;
  font-family: LMRomanCaps10-Regular;
}
.page-sort-footer .pagination-container .pagination {
  float: left;
  margin: 0;
}
.page-sort-footer .pagination-container .pagination .curent span {
  text-decoration: underline;
}
.page-sort-footer .pagination-container .pagination .pagination-next a {
  color: #666666;
}
.page-sort-footer .pagination-container .pagination span,
.page-sort-footer .pagination-container .pagination a {
  padding: 6px 6px;
  border: none;
  background-color: inherit;
  color: black;
  font: 13px Arial, Verdana, sans-serif;
}
@media (max-width: 767px) {
  .page-sort-footer .pagination-container {
    display: block;
    float: none;
  }
  .page-sort-footer .pagination-container .show-all {
    float: none;
  }
}
