.product-list {
  width: 100%;
  padding-top: 20px;
}
.product-list .row {
  margin: 0;
}
.product-list .row ul {
  background-color: white;
}
.product-list .row ul li {
  padding: 0;
  margin-right: 2.6%;
  margin-bottom: 15px;
}
.product-list .product img {
  width: 100%;
  border: 1px solid #e0e0e0;
}
.product-list .product .sub-image {
  display: none;
}
.product-list .product .product-image:hover .main-image {
  display: none;
}
.product-list .product .product-image:hover .sub-image {
  display: inline-block;
}
.product-list .product .product-image .new {
  color: white;
  background-color: #E1423C;
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0 5px;
}
.product-list .product h3 {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}
.product-list .product h3 a {
  text-decoration: none;
  color: #969696;
  font: normal 15px/22px Georgia;
}
.product-list .product h3:hover a {
  color: #e1423c;
}
.product-list .product .price {
  font-size: 24px;
}
.product-list .product .button-container {
  opacity: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.product-list .product .button-container .btn-add-to-cart {
  padding: 10px 15px;
  font-family: LMRomanCaps10-Regular;
}
.product-list .product .button-container .btn-quick-view {
  padding: 12px 12px 11px 12px;
  margin-left: 5px;
}
.product-list .product:hover .button-container {
  opacity: 1;
}
@media (min-width: 1200px) {
  .product-list ul li.col-3 {
    width: 23%;
  }
  .product-list ul li:nth-child(4n+0) {
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  .product-list ul li.col-4 {
    width: 31.6%;
  }
  .product-list ul li:nth-child(3n+0) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .product-list ul li.col-12 {
    width: 100% !important;
    margin-right: 0;
  }
}
