.type-10 div {
  margin: 0;
  padding: 0;
}
.type-10 #header {
  height: 150px;
  position: relative;
}
.type-10 #header #currencies_block_top {
  margin: 0 0 0 30px;
}
.type-10 #header #currencies_block_top #currencyHolder {
  position: relative;
  z-index: 99;
}
.type-10 #header #currencies_block_top #currencyHolder .smooth02 {
  transition: all .2s ease-in-out;
}
.type-10 #header #currencies_block_top #currencyHolder span {
  padding: 0 5px 0 10px;
}
.type-10 #header #currencies_block_top span {
  font: normal 13px/36px Verdana;
}
.type-10 #header #currencies_block_top ul {
  clear: both;
  width: 100%;
  list-style-type: none;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  display: block;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.type-10 #header .dib {
  display: inline-block;
  vertical-align: top;
}
