.flexmenu-container {
    margin-bottom: 20px;
}
.flexmenu {
    background: url(data:image/gif;base64,R0lGODlhAQAIAPECAIqKjAAAAPn5+QAAACH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAACACwAAAAAAQAIAEACA4x1UAA7) repeat-x 0 100%;
    width: 100%;
    margin: auto;
}
.mobileMenuTitle, body .flexmenu>ul>li a.opener {
    display: none;
}
@media (min-width: 729px){
	.flexmenu * {
	    transition: none;
	}
}
#white_bg .lmromandemi, .block h4, body .flexmenu>ul>li>a {
    font-family: "Georgia";
    font-weight: 600;
}
.flexmenu>ul {
    list-style-type: none;
    position: relative;
}
.flexmenu ul {
    list-style: none;
}
@media (min-width: 729px){
	.flexmenu>ul {
	    height: 43px;
	}
}
@media (min-width: 729px){
	.flexmenu>ul>li {
	    display: block;
	    float: left;
	    height: 43px;
	    padding-right: 15px;
	}
}
body .flexmenu>ul>li a {
    height: 43px;
    padding: 0 18px;
    text-transform: uppercase;
    color: #3a3a3c;
    font-size: 19px;
    line-height: 35px;
    display: block;
}
@media (min-width: 729px){
	.flexmenuitem a span {
	    transition: all 0.5s;
	}
}
@media (min-width: 728px){
	.flexmenuitem>a span {
	    position: relative;
	}
}
body .flexmenu>ul>li>a span {
    padding: 0 15px;
}
@media (min-width: 728px){
	body .flexmenu>ul>li>a span {
	    display: inline-block;
	    height: 43px;
	}
}
@media (min-width: 1170px){
	body .flexmenu>ul>li>a {
	    padding: 0 0px;
	}
}
@media (min-width: 728px){
	.flexmenuitem:hover>a span:before {
	    content: "";
	    height: 5px;
	    position: absolute;
	    bottom: 3px;
	    left: 0;
	    width: 100%;
	}
}
/*=================================== submenu ===============================================*/
.flexmenu>ul>li div.submenu {
    visibility: hidden;
    overflow: hidden;
    background: #f9f9f9;
    width: 100%;
    position: absolute;
    top: 43px;
    left: 0;
    z-index: 9999;
    opacity: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}
.no-touch .flexmenu>ul>li div.submenu {
    transition: all 0.3s;
}
@media (min-width: 1170px){
	.flexmenu .left-section, .flexmenu .right-section {
	    width: 220px;
	}
}
.flexmenu div.submenu .left-section {
    float: left;
}
.flexmenu .section-indent {
    padding: 22px 20px 30px;
    overflow: hidden;
}
body .flexmenu .left-title, body .flexmenu .right-title {
    font-size: 14px;
    line-height: 30px;
    color: #999;
    text-transform: uppercase;
    text-indent: 15px;
}
/*=============================== left-section-products ================================*/
body .flexmenu ul.left-section-products {
    width: 152px;
    margin: 0 auto;
}
body .flexmenu ul.left-section-products li {
    margin-bottom: 25px;
    text-align: center;
}
.flexmenuitem .li-indent {
    padding: 0;
}
body .flexmenu ul.left-section-products li a {
    padding: 0;
}
body .flexmenu ul.left-section-products li a.product-image-link {
    display: block;
    height: auto;
    line-height: 12px;
}
body .flexmenu ul.left-section-products li a img {
    width: 100%;
    height: auto;
    border: 1px solid #dedede;
    margin-bottom: 10px;
}
body .flexmenu .menu-product-name {
    text-transform: none;
    color: #969696;
    font-size: 14px;
    height: auto;
    margin-bottom: 12px;
    font-family: Georgia;
    line-height: 17px;
}
body .flexmenu ul.left-section-products li a {
    padding: 0;
}
body .flexmenu .price, body .flexmenu .old_price {
    font-size: 24px;
    color: #c5988b;
    display: block;
    line-height: 30px;
}
/*==================================== sections-contaier ==============================*/
.flexmenu .sections-contaier {
    float: left;
    width: 740px;
}
@media (min-width: 1170px){
	.flexmenu .submenu .main-section.only-left, .flexmenu .submenu .main-section.only-right, .flexmenu .sections-contaier {
	    width: 950px;
	}
}
/*============= main-section ================*/
.flexmenu div.submenu .main-section {
    width: 100%;
    float: left;
    min-height: 20px;
}
@media (min-width: 1170px){
	.flexmenu .submenu .main-section.only-left, .flexmenu .submenu .main-section.only-right, .flexmenu .sections-contaier {
	    width: 950px;
	}
}
.flexmenu div.submenu .main-section.only-left, .flexmenu div.submenu .main-section.only-right {
    width: 740px;
}
@media (min-width: 1170px){
	.flexmenu div.submenu .main-section.only-left, .flexmenu div.submenu .main-section.only-right {
	    width: 950px;
	}
}



.flexmenu>ul>li:hover div.submenu {
    visibility: visible;
    opacity: 1;
}