#header_user {
    padding-top: 0px;
    position: relative;
    margin-left: 15px;
}
#header_user li {
    float: left;
    display: block;
    clear: none;
    color: rgb(153, 153, 153);
    font-family: Verdana;
    font-size: 13px;
    line-height: 36px;
    margin: 0px;
}
#header_user li a {
    color: rgb(153, 153, 153);
    font-size: 13px;
    font-family: Verdana;
}
#header_user li a:hover {
    color: #e17365;
    text-decoration: none;
}