#languages_block_top {
    float: right;
    margin: 0px;
}
#countries {
    width: auto;
    position: relative;
    z-index: 99;
    padding: 0px;
}
#countries li a, #countries span {
    color: rgb(136, 136, 136);
    font: 13px/20px Verdana;
}
#countries .selected_language {
    float: left;
    display: block;
    margin: 0px !important;
}
fieldset, img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
#countries .selected_language img {
    margin: 13px 5px 0px 10px;
}
a {
    cursor: pointer;
}
a, a:active, a:visited {
    color: rgb(51, 51, 51);
    text-decoration: none;
}
#countries .selected_language a {
    line-height: 36px;
    color: rgb(109, 109, 109);
    text-decoration: none;
}
#countries .selected_language i {
    width: 20px;
    height: 20px;
    margin: 12px 5px 0px 0px;
}
#countries .selected_language:hover {
    background-color: gray;
    text-decoration: none;
}
.arrow{
    display: none;
}
ul.arrow{
   margin: 0;
}
ul .arrow li{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
#countries .selected_language:hover .arrow{
    background-color: #ebebeb;
    clear: both;
    width: 100%;
    list-style-type: none;
    display: block;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
/*
<ul 
    id="first-languages" 
    class="countries_ul dd_container" 
    style="display: none; height: 108px; 
    padding-top: 0px; 
    margin-top: 0px; 
    padding-bottom: 0px; 
    margin-bottom: 0px;">
        <li class="smooth02 main_bg_hvr"> 
            <img src="http://alysum.promokit.eu/img/l/2.jpg" class="dib" width="16" height="11" alt="de">
            <a href="http://alysum.promokit.eu/de/" title="Deutsch">Deutsch</a>
        </li>
        <li class="smooth02 main_bg_hvr"> 
            <img src="http://alysum.promokit.eu/img/l/3.jpg" class="dib" width="16" height="11" alt="es">
            <a href="http://alysum.promokit.eu/es/" title="Español">Español</a>
        </li>
        <li class="smooth02 main_bg_hvr"> 
            <img src="http://alysum.promokit.eu/img/l/4.jpg" class="dib" width="16" height="11" alt="fr">
            <a href="http://alysum.promokit.eu/fr/" title="Français">Français</a>
        </li>
        <li class="smooth02 main_bg_hvr"> 
            <img src="http://alysum.promokit.eu/img/l/7.jpg" class="dib" width="16" height="11" alt="ar">
            <a href="http://alysum.promokit.eu/ar/" title="العربية">العربية</a>
        </li>
</ul>*/