#shopping_cart {
    position: absolute;
    top: 97px;
    left: 0;
    padding: 0;
    background: none;
    width: auto;
    display: block;
    color: #b9b9b9;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #e7e2e2;
    min-width: 200px;
}
body #shopping_cart>a {
    padding: 0;
    background: none;
    width: auto;
    display: block;
    color: #999;
    font-family: Verdana;
    font-size: 13px;
    height: 34px;
}
#shopping_cart>a:first-child {
    display: block;
    overflow: hidden;
    font-size: 13px;
}
#shopping_cart .svgic.main_color, #white_bg .searchbutton .svgic.main_color {
    color: #bbb;
}
#shopping_cart>a b {
    font-weight: normal;
}
#shopping_cart>a:first-child b {
    font-weight: normal;
}
#shopping_cart span {
    line-height: 16px;
}
#shopping_cart a{
    text-decoration: none;
}
#shopping_cart:hover{
    background: #ebebeb;
    z-index: 11;
    color: #8b8b8b;
}