.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: auto;
}
.banner .banner-desc {
  position: absolute;
  top: 31%;
  left: 4%;
  width: 40%;
  color: #434343;
}
.banner .banner-desc .trajan-font {
  font-family: TrajanProRegular;
}
.banner .banner-desc h2 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  padding: 0;
}
.banner .banner-desc p {
  font: 16px/22px Georgia;
}
@media (max-width: 767px) {
  .banner-desc {
    top: 15px !important;
    left: 25px !important;
  }
  .banner-desc p {
    display: none;
  }
}
@media (max-width: 979px) {
  .banner-desc {
    width: 90% !important;
  }
}
