.custom-filter {
  padding: 5px;
  margin-bottom: 10px;
}
.custom-filter .filter-title {
  font-family: LMRomanCaps10-Regular;
  font-size: 14px;
}
.custom-filter .button-close {
  float: right;
  width: 18px;
  height: 18px;
  background: url("<?php echo T3_TEMPLATE_URL; ?>/images/group_d/icon/plus-minus.gif") no-repeat 0 -18px;
  cursor: pointer;
}
.custom-filter .open .button-close {
  background: url("<?php echo T3_TEMPLATE_URL; ?>/images/group_d/icon/plus-minus.gif") no-repeat 0 0 !important;
}
.custom-filter .dropdown-menu.closed {
  display: none;
}
.custom-filter .filter-menu {
  width: 100%;
  border: none;
  background: none;
  box-shadow: none;
  max-height: 280px !important;
  overflow: auto;
  position: inherit;
  margin-bottom: 20px;
}
.custom-filter .filter-menu li {
  padding-bottom: 6px;
}
.custom-filter .filter-menu li .check-box {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}
.custom-filter .filter-menu li label {
  display: inline-block;
  vertical-align: top;
}
.custom-filter .filter-menu li label a {
  font-size: 12px;
  font-weight: normal;
  color: #666666;
}
.custom-filter .filter-menu.range {
  overflow: inherit;
}
.custom-filter .filter-menu.range label {
  font-weight: normal;
}
.custom-filter .filter-menu.range #amount {
  border: none;
  background: inherit;
}
@media (max-width: 767px) {
  .custom-filter {
    display: none;
  }
}